*{
    margin: 0;
    padding: 0;
}
@font-face{
    font-family:'Press2' ;
    src: url(PressStart2P-Regular.ttf);
}

body{
    background-color: black;
    background-image: url('https://storage.c7x.dev/one1side/website/bannerlauncher11.jpg');
    color: white;
    background-repeat: no-repeat;
    
}
.cap{
    block-size: 30vw;
}
.cap__text{
    position: fixed;
    font-family: 'Press2';
    left:10%;
    position: absolute;
    font-size: 2svw;
    text-transform: uppercase;
    margin-top: 3svh;
    

}
.function_button{
    position: relative;
    padding-left: 85vw;
}

button:hover{
    cursor:pointer;
    background-color: rgb(233, 231, 231);
    opacity: 0.9;
    box-shadow: 0 0 10px silver;
}

button,.Role,.Donate,.chair,.as{
    background-color: rgb(34, 174, 113);
    font-family: 'Press2';
    user-select: none;
    top: 2vh;
    position: sticky;
    font-size: 9px;
    letter-spacing: 2px;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px silver;
    text-transform: uppercase;
    position: static;
}


.hero__body{
    position:absolute;
    width: 20vw;
    height: 45vh;
    left: 75svw;
    margin-top: 80px;
    
}

.body__button{
    display: inline-block;
    position: static;
    top: 1vh;
    margin-left: 30vw;
    border-style: double;
    text-align: center;
    border-radius: 10px;
    background:url(/img/fond3_.jpg) ;
    background-size: 500px;
    padding: 1vh;
    max-width: 30svw;
    max-height: max-content;

}

button#purple_btn{
    margin: 1vw;
    border: none;
    outline: none;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: blueviolet;
    
}
button:hover#purple_btn{
    transform:scale(1.1,1.1);
    background-color: rgb(253, 79, 253);
    box-shadow: 0 0 10px rgb(253, 79, 253), 0 0 25px rgb(253, 79, 253) ;
}
button:active#purple_btn{
    transform:scale(1,1);
}
button#blue_btn{
    padding: 10px 25px;
    border: none;
    outline: none;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: rgb(28, 105, 248);
}
button:hover#blue_btn{
    transform:scale(1.2,1.2);
    background-color: rgb(12, 124, 222);

    box-shadow: 0 0 10px rgb(38, 0, 255), 0 0 25px rgb(8, 81, 240) ;
}
button:active#blue_btn{
    transform:scale(1,1);
}
#donate{
    text-transform: uppercase;
    display: block;
    position:relative;
    font-family: 'Russo One', sans-serif;
    margin-top:100px;
    margin-right: 350px;
    text-align: left;
    width: 12vw;
    text-align: center;



}
#donate > p{
    position:relative;
    line-height: 10px;
    background-color: rgb(80,200,120);
    font-size: 2svw;
    padding: 15px 15px;
    border-radius: 15px;
    width: min-content;
    
}
#donate > h1{

    position: relative;
    font-size: 3svw;
    padding-left: 20svw;
    margin-top: -5svh;


}
#role{
    display: none;
}
#Vlastelin_role {
    border-radius:10px ;
    position:relative;
    display: inline-block;
    font-size: 30px;
    margin-top: 2svh;
    color: rgb(0, 0, 0);
}

#Vlastelin_role > .vl_btn{  
    padding: 0;
    font: inherit;
    background-color: white;
    font-size: 20px;
    cursor: pointer;
    
    
}

.vl_btn > img{
    
    position: relative;
    display: inline-block;
    width: 20px;
    margin-left:20svw;

}
#vlastelin{
    margin-left: 25px;
    transition: 1s;
    display: none;
    font-family:'Russo One', sans-serif;
    list-style: none;
    font-size: 1vw;
    text-align: left;
}
#moder{
    margin-left: 25px;
    transition: 1s;
    display: none;
    font-family:'Russo One', sans-serif;
    list-style: none;
    font-size: 20px;
    text-align: left;
}
#Moder_role {
    border-radius:10px ;

    position:relative;
    display: inline-block;
    font-size: 30px;

    margin-top: 2svh;

    color: rgb(0, 0, 0);


}

#Moder_role > .mod_btn{  
    padding: 0;
    font: inherit;
    background-color: white;
    font-size: 20px;
    cursor: pointer;
    
    
}
.mod_btn > img{
    
    position: relative;
    display: inline-block;
    width: 20px;
    margin-left:20svw;

}
#moder{
    margin-left: 25px;
    transition: 1s;
    display: none;
    font-family:'Russo One', sans-serif;
    list-style: none;
    font-size: 1vw;
    text-align: left;
}

.info_icon > img{
    position: relative;
    max-width: 35px;
    position: relative;
    padding: 5px 5px;


}
.info_bottom{
    margin-top: 20svh;
    position: absolute;
    max-height: min-content;
    margin-left: 45svw;
    
}

